# Hostname
# Pour local: HOSTNAME_VAR="localhost"
# Pour production avec Cloudflare: HOSTNAME_VAR="pong.sabinomonte.ch"
HOSTNAME_VAR="localhost"

# Database Configuration
DB_NAME="pongdatabase"
DB_USER="val"
DB_PASS="ChangeMoi_MotDePasseSecurise"

# Email Configuration (SendGrid)
EMAIL_HOST_PASSWORD="VotreCleAPISendGrid"

# Blockchain Configuration (optionnel)
SEPOLIA_URL=""
PRIVATE_KEY=""